# ![Digital Futures](https://github.com/digital-futures-academy/DataScienceMasterResources/blob/main/Resources/datascience-notebook-header.png?raw=true)

## Extracting Data using Python and Pandas

## What is ***Pandas***?

***Pandas*** is a Python library that provides data structures and data analysis tools. It is built on top of the [NumPy](https://numpy.org/) package, which means that a lot of the NumPy functions are also available in ***Pandas***.

***Pandas*** is particularly useful for working with structured data, such as data stored in spreadsheets or databases, and it provides tools for reading and writing data between in-memory data structures and different file formats.

The primary data structures in ***Pandas*** are the `Series` and `DataFrame` classes. A `Series` is essentially a column, and a `DataFrame` is a multi-dimensional table made up of a collection of `Series`.

***Pandas*** provides many useful functions for working with data, such as grouping and aggregation functions, and it also provides plotting functions to create visualizations of the data.

In this notebook, we will explore some of the basic functionality of ***Pandas***, including how to create `Series` and `DataFrame` objects, how to read and write data, and how to perform basic data manipulation tasks.

For an overview of ***Pandas***, it is recommended that you view the [official Getting Started tutorial](https://pandas.pydata.org/docs/getting_started/intro_tutorials/index.html).

## Installing ***Pandas***

***Pandas*** is included in the Anaconda distribution, so if you have Anaconda installed, you should already have ***Pandas*** installed as well. If you don't have Anaconda installed, you can install ***Pandas*** using `pip`:

If you are running this notebook in a Jupyter environment, you can run the following command to check if you have ***Pandas*** installed:

```python
import pandas as pd
print(pd.__version__)
```

In [ ]:
import pandas as pd
print(pd.__version__)

If you get an error, follow the steps below.

# Environment Setup Issues Scripts

Make sure that you have the correct environment running - this includes the correct version of Python and all the necessary libraries.  If running in VSCode, you may need to create a virtual environment and activate it before running code cells notebook.

If you are running this notebook after cloning and have not set up your environment to run shell commands, you will need to run the following commands in your terminal to set up the environment.

> **NOTE:**  These commands need to be executed in the terminal.  
>
> Open a terminal at the root of your project before executing these commands
> 
> Until your environment is set up, Jupyter Notebooks will not be able to run **shell** scripts.

```sh
# Create a virtual environment (add the command below)
python3 -m venv .venv
# Note: This command could also be python -m venv .venv 
# python3 and python are a symlink to the python version installed on your system

# Activate the virtual environment 
source .venv/bin/activate

# Install required package to execute shell commands from Jupyter Notebook
pip install ipykernel pandas        ## OR 
pip install -r requirements.txt     ## IF there is already a requirements.txt file CONTAINING ipykenrnel in the project
```

`ipykernel` is a package that allows Jupyter Notebooks to run shell commands.

Run the following command (again) to check if you have Pandas installed:

```python
import pandas as pd
print(pd.__version__)
```

In [3]:
import pandas as pd
print(pd.__version__)

2.2.3

---

## Extracting Data from Files using Pandas

### Reading Data from a Text File

Pandas provides functions for reading data from a variety of file formats, including text files, CSV files, Excel files, and SQL databases.

To read the data from a text file, you can load each line of the file into a `DataFrame` using the `read_csv()` function. The `read_csv()` function takes the path to the file as an argument and returns a `DataFrame` object.

The text in this file are sentences.  Each sentence is on a new line.  We will read the file and create a `DataFrame` object with the sentences as the data.

To do this:

1. Make sure you have imported the Pandas library.
2. Use the `read_csv()` function to read the data from the file.
3. Display the `DataFrame` object.

In [7]:
# Read from a Text file
df = pd.read_csv('data/data.txt', sep='\r\n', header=None, engine='python')

# Display the DataFrame
print(df)
df

                                                  0
0       Line 1: This is the first line of the file.
1          Line 2: Python makes file handling easy.
2      Line 3: Understanding file paths is crucial.
3  Line 4: Context managers ensure resource safety.
4                Line 5: End of the demo text file.

                                                  0
0       Line 1: This is the first line of the file.
1          Line 2: Python makes file handling easy.
2      Line 3: Understanding file paths is crucial.
3  Line 4: Context managers ensure resource safety.
4                Line 5: End of the demo text file.

You will notice that the `DataFrame` object has a single column with the sentences as the data.

These are right aligned to a column named 0.  We can rename the column to something more meaningful.

In [8]:
# Rename the column
df.columns = ['Sentence']

df

                                           Sentence
0       Line 1: This is the first line of the file.
1          Line 2: Python makes file handling easy.
2      Line 3: Understanding file paths is crucial.
3  Line 4: Context managers ensure resource safety.
4                Line 5: End of the demo text file.

---

#### Aside - Should we `try:except`?

> YES, ABSOLUTELY!!! But we won't here to keep the demo simple!
>
> When reading data from a file, it is always a good idea to use a `try:except` block to catch any exceptions that may occur. This will prevent your program from crashing if there is an error while reading the file.  You can implement it in the same way as you would surround an `open` statement with a `try:except` block.

```python
# BETTER PRACTICE
try:
    # Read the data from the file
    df = pd.read_csv('data/data.txt')
    # Display the DataFrame
    df
except Exception as e:
    print(f"An error occurred: {e}")
```

> And you should anticipate the types of Exception or Errors that could occur and handle them accordingly.

---

## Read in from a CSV file

The `read_csv()` function can also be used to read data from a CSV file.  The data in a CSV file is typically separated by commas, but the `read_csv()` function can handle other delimiters as well, as we have already seen!  (For clarity, the text file was seen as a single column of data, delimited by a newline character.)

In [9]:
df2 = pd.read_csv('data/data.csv')

df2

      Name  Age   Department       Location  Salary
0    Alice   30           HR       New York   60000
1      Bob   25  Engineering  San Francisco   75000
2  Charlie   28    Marketing        Chicago   55000
3    Diana   32      Finance         Boston   70000
4      Eve   29           IT        Seattle   72000

---

## Read in from a TSV file

A TSV file is a tab-separated values file, where the data is separated by tabs instead of commas.  The `read_table()` function should used to read data from a TSV file as it uses tab as a separator by default.

In [16]:
df3 = pd.read_table('data/data.tsv')

df3

# df3_v2 = pd.read_csv('data/data.tsv', delimiter='\t')

# df3_v2

      Name  Age   Department       Location  Salary
0    Alice   30           HR       New York   60000
1      Bob   25  Engineering  San Francisco   75000
2  Charlie   28    Marketing        Chicago   55000
3    Diana   32      Finance         Boston   70000
4      Eve   29           IT        Seattle   72000

We could also use the `read_csv()` function to read data from a TSV file, but we would need to specify the separator to be a tab using `delimiter='\t'` in the arguments to the call.

---

## Reading Data from JSON

Pandas can also read data from JSON files using the `read_json()` function.  JSON (JavaScript Object Notation) is a popular data format that is used for storing and exchanging data on the web.

In [18]:
df4 = pd.read_json('data/data.json')

df4

      Name  Age   Department       Location  Salary
0    Alice   30           HR       New York   60000
1      Bob   25  Engineering  San Francisco   75000
2  Charlie   28    Marketing        Chicago   55000
3    Diana   32      Finance         Boston   70000
4      Eve   29           IT        Seattle   72000

---

## Reading Data from an Excel File

Pandas can read data from Excel files using the `read_excel()` function.  Excel files can contain multiple sheets, so you can specify the sheet name or index to read the data from.

Reading in data from an Excel file requires an additional library to be installed.  You can install the `openpyxl` library using `pip`:

```sh
pip install openpyxl
```

This will only work for .xlsx files.  If you have an older .xls file, you will need to install the `xlrd` library instead:

```sh
pip install xlrd
```

In [19]:
# Install openpyxl and xlrd

!pip install openpyxl xlrd

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.9/250.9 kB 3.9 MB/s eta 0:00:00a 0:00:01
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 3.8 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: xlrd, et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5 xlrd-2.0.1

[notice] A new release of pip is available: 23.1.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [20]:
df5 = pd.read_excel('data/data.xlsx')
df5

      Name  Age   Department       Location  Salary
0    Alice   30           HR       New York   60000
1      Bob   25  Engineering  San Francisco   75000
2  Charlie   28    Marketing        Chicago   55000
3    Diana   32      Finance         Boston   70000
4      Eve   29           IT        Seattle   72000

---

## Reading Data from a SQL Database

Pandas can read data from SQL databases using the `read_sql()` wrapper function and its variants.  You need to establish a connection to the database using a library such as `sqlite3` or `psycopg2`, and then pass some SQL and the connection object to the `read_sql()` function.

> We need a database to connect to, so let's create one that is in memory for demo purposes.

---

### Creating an in-memory SQLite database

We will use the `sqlite3` built-in library and also install the `sqlalchemy` library to create an in-memory SQLite database that will act as though its a "real" database and populate it with some data.

In [21]:
# Install sqlalchemy

!pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.36-cp311-cp311-macosx_11_0_arm64.whl (2.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 11.1 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: typing-extensions>=4.6.0 in ./.venv/lib/python3.11/site-packages (from sqlalchemy) (4.12.2)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-2.0.36

[notice] A new release of pip is available: 23.1.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [22]:
# Create a temporary in-memory database using sqlite and sqlalchemy

from sqlalchemy import create_engine, text

# Create an in-memory db instance

engine = create_engine('sqlite:///:memory:')

# Connect to the in-memory database

conn = engine.connect()

#Create a table
conn.execute(text('''
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    age INTEGER,
    department TEXT,
    location TEXT,
    salary INTEGER
)
'''))

# Insert multiple pieces of data into the table
conn.execute(text('''
INSERT INTO users (name, age, department, location, salary)
VALUES
('Alice', 25, 'Engineering', 'New York', 60000),
('Bob', 30, 'HR', 'Los Angeles', 75000),
('Charlie', 35, 'Marketing', 'Chicago', 55000),
('Diana', 32, 'Finance', 'Boston', 78000),
('Eve', 29, 'IT', 'Seattle', 77000)
'''))

---

### Creating a connection to the database

In the previous code cell, we have already connected to the in-memory SQLite database using a call to `connect` on the `engine` created by the call to the `sqlalchemy` library.  We have also created a `con` object to interact with the database.

> If we were connecting to an external database using `psycopg2`, we would need to provide further details such as the database name, username, and password and use the connect function from this library:
> 
> eg:
> 
```python
import psycopg2

# Create the connection
con = psycopg2.connect(
    dbname='mydatabase',
    user='myuser',
    password='mypassword',
    host='localhost'
    port='5432'
)

# Create a cursor object
cur = con.cursor()
```

---

## Using Pandas to Read in Data from the Database

Now we have a database we can query, we can use Pandas to read in data from the database using the `read_sql()` function which wraps around the `read_sql_table()` and `read_sql_query()` functions.

There are different use cases for these functions:

- `read_sql()` is a general-purpose wrapper function that can execute both SQL queries and SQL table reads
  - *Most Common Parameters*:
    - `sql`: The SQL query or table name to read from
    - `con`: The connection object to the database
    - `index_col`: The column to use as the index for the DataFrame (optional)
    - `coerce_float`: Attempt to convert values to floats (optional)
    - `params`: List of parameters to pass to the SQL query (optional)
    - `parse_dates`: List of columns to parse as dates (optional)
    - `columns`: List of columns to select from the SQL query (optional)
    - `chunksize`: Number of rows to read at a time (optional)
    - `dtype`: Dictionary of column names and types to use when reading the data (optional)
    - `parse_dates`: List of columns to parse as dates (optional)

- `read_sql_table` is a specific function for reading data from a SQL table
  - *Most Common Parameters*:
    - `table_name`: The name of the table to read from
    - `con`: The connection object to the database
    - `schema`: The schema to read the table from (optional)
    - `index_col`: The column to use as the index for the DataFrame (optional)
    - `coerce_float`: Attempt to convert values to floats (optional)
    - `parse_dates`: List of columns to parse as dates (optional)
    - `columns`: List of columns to select from the table (optional)
    - `chunksize`: Number of rows to read at a time (optional)
    - `dtype_backend`: Dictionary of column names and types to use when reading the data (optional)

- `read_sql_query` is a specific function for reading data in from an SQL query
  - *Most Common Parameters*:
    - `sql`: The SQL query to read from
    - `con`: The connection object to the database
    - `index_col`: The column to use as the index for the DataFrame (optional)
    - `coerce_float`: Attempt to convert values to floats (optional)
    - `params`: List of parameters to pass to the SQL query (optional)
    - `parse_dates`: List of columns to parse as dates (optional)
    - `chunksize`: Number of rows to read at a time (optional)
    - `dtype`: Dictionary of column names and types to use when reading the data (optional)
    - `dtype_backend`: Back-end data type applied to the resultant DataFrame (still experimental)

It may be best to construct our query as a string and pass it to the function.  This will allow us to reuse the query we are running and make it easier to debug if there are any issues.

### Activity 1:  Read in Data from the Database

#### Activity 1.1: Read the table directly using `read_sql()`

1. In the cell below, get the ***users*** table in the database we created in memory using `read_sql()`.
2. Use the `read_sql()` function to read in the data from the database.
3. Display the `DataFrame` object.

In [33]:
# df6 = pd.read_sql('users', conn)

# df6

df6 = pd.read_sql('SELECT * FROM users', conn)

df6

   id     name  age   department     location  salary
0   1    Alice   25  Engineering     New York   60000
1   2      Bob   30           HR  Los Angeles   75000
2   3  Charlie   35    Marketing      Chicago   55000
3   4    Diana   32      Finance       Boston   78000
4   5      Eve   29           IT      Seattle   77000

#### Activity 1.2: Read the table directly using `read_sql_table()`

1. In the cell below, get the ***users*** table in the database we created in memory using `read_sql_table()`.
2. Use the `read_sql_table()` function to read in the data from the database.
3. Display the `DataFrame` object.

In [31]:
df7 = pd.read_sql_table('users', conn)

df7

   id     name  age   department     location  salary
0   1    Alice   25  Engineering     New York   60000
1   2      Bob   30           HR  Los Angeles   75000
2   3  Charlie   35    Marketing      Chicago   55000
3   4    Diana   32      Finance       Boston   78000
4   5      Eve   29           IT      Seattle   77000

#### Activity 1.3: Read the table via a query using `read_sql_query()`

1. In the cell below, get the ***users*** table in the database we created in memory using `read_sql_query()`.
   - This time we'll limit the rows to those who earn *more than 75000*.
2. Define a variable called `more_than_75k` and set it to the SQL query string.
3. Use the `read_sql_query()` function to read in the data from the database by passing the query string and the connection object.
4. Display the `DataFrame` object.

In [37]:
df8 = pd.read_sql_query('SELECT * FROM users WHERE salary > 75000', conn)

df8

   id   name  age department location  salary
0   4  Diana   32    Finance   Boston   78000
1   5    Eve   29         IT  Seattle   77000

---

## Reading Data in an HTML Table on a Web Page

Commonly, you may wish to extract the data from a table on an HTML files.  Rather than going through the whole rigmarole of scraping the page, you can use the `read_html()` ***Pandas*** function to do this.

The `read_html()` function takes a URL as an argument and returns a list of `DataFrame` objects, one for each table found on the page.  It does this by looking for the `<table>` tags in the HTML source code.  However, you do need to have a library installed to help parse the HTML - like `lxml` or `beautifulsoup4` (which also requires the `html5lib` package to be installed).

In [34]:
# Install beautifulsoup4 and html5lib

!pip install beautifulsoup4 html5lib

Collecting beautifulsoup4
  Using cached beautifulsoup4-4.12.3-py3-none-any.whl (147 kB)
Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 kB 2.2 MB/s eta 0:00:00a 0:00:01
Collecting soupsieve>1.2 (from beautifulsoup4)
  Using cached soupsieve-2.6-py3-none-any.whl (36 kB)
Requirement already satisfied: six>=1.9 in ./.venv/lib/python3.11/site-packages (from html5lib) (1.16.0)
Collecting webencodings (from html5lib)
  Downloading webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Installing collected packages: webencodings, soupsieve, html5lib, beautifulsoup4
Successfully installed beautifulsoup4-4.12.3 html5lib-1.1 soupsieve-2.6 webencodings-0.5.1

[notice] A new release of pip is available: 23.1.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

> In the data folder there is a file called `data_in_tables.html` which contains some tables of data.
> 
> The file can be served by installing the ***Live Preview*** extension in VSCode and right-clicking on the file and selecting "Show Preview".  
> 
> This will open a browser window inside VSCode and display the web page.  
> 
> This is server from a local webserver created on your machine that runs in the root of your project at `http://127.0.0.1` on port `3000`.  
> 
> We can then navigate to the file by appending the file path to the URL, so in this case `/data/data_in_tables.html`.

In [61]:
# import html5lib
# from bs4 import BeautifulSoup

# Fetch the tables from the web page
df10 = pd.read_html('http://127.0.0.1:3000/data/data_in_tables.html', flavor="bs4")

# df10[0]
# df10[1]

df10

[      Name  Age   Department       Location  Salary
 0    Alice   30           HR       New York   60000
 1      Bob   25  Engineering  San Francisco   75000
 2  Charlie   28    Marketing        Chicago   55000
 3    Diana   32      Finance         Boston   70000
 4      Eve   29           IT        Seattle   72000,
   Product name  Number of Unit Orders  Unit Price
 0       iPhone                  22604        1029
 1         iPad                  18790         479
 2      MacBook                   8032        1799
 3         iMac                   3231        2599]

---

## Making API calls and Reading its Data to a DataFrame

***Pandas*** can be used after we have made an API call to extract the data into different formats.  We can use the `requests` library to make the API call and then use ***Pandas*** to read the data into a DataFrame.

You may expect that we will use the `read_json()` function within this operation but it becomes complicated as we need to convert the JSON data into a JSON string first.  However, if we make the request using the `requests` library and get the `response` in `JSON` format, we can simply pass this into a ***Pandas*** `DataFrame` object.

First though, we need to install the `requests` library:

In [62]:
# Install requests

!pip install requests

Collecting requests
  Using cached requests-2.32.3-py3-none-any.whl (64 kB)
Collecting charset-normalizer<4,>=2 (from requests)
  Using cached charset_normalizer-3.4.0-cp311-cp311-macosx_11_0_arm64.whl (118 kB)
Collecting idna<4,>=2.5 (from requests)
  Using cached idna-3.10-py3-none-any.whl (70 kB)
Collecting urllib3<3,>=1.21.1 (from requests)
  Using cached urllib3-2.2.3-py3-none-any.whl (126 kB)
Collecting certifi>=2017.4.17 (from requests)
  Using cached certifi-2024.8.30-py3-none-any.whl (167 kB)
Installing collected packages: urllib3, idna, charset-normalizer, certifi, requests
Successfully installed certifi-2024.8.30 charset-normalizer-3.4.0 idna-3.10 requests-2.32.3 urllib3-2.2.3

[notice] A new release of pip is available: 23.1.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

Then we can make a request to the API and convert the response it a `DataFrame`.

> In this example, we will use some dummy data hosted at `https://jsonplaceholder.typicode.com/posts` which is a free API that provides dummy data for testing purposes.

In [80]:
# Import the requests library
import requests

#Make a request to the api for the JSON data
url = 'https://jsonplaceholder.typicode.com/posts'
response = requests.get(url)

# print(response)

# Convert the response body
json_data = response.json()

# print(json_data)

# Put the JSON data into a Pandas DataFrame
df11 = pd.DataFrame(json_data)

# df11


# Display the first 5 records
# df11.head(5)

df11[['id', 'title']].head(10)

   id                                              title
0   1  sunt aut facere repellat provident occaecati e...
1   2                                       qui est esse
2   3  ea molestias quasi exercitationem repellat qui...
3   4                               eum et est occaecati
4   5                                 nesciunt quas odio
5   6                 dolorem eum magni eos aperiam quia
6   7                               magnam facilis autem
7   8                           dolorem dolore est ipsam
8   9  nesciunt iure omnis dolorem tempora et accusan...
9  10                        optio molestias id quia eum

> If you wanted to use the `read_json()` function, you would need to convert the JSON data into a JSON string first.  ***Pandas*** provides this functionality, but it is an unnecessary step!

```python
response = requests.get(url)

json_data = response.json()

df = pd.read_json(pd.io.json.dumps(json_data))
```

---

### Reading a Parquet File into a Data Frame

> #### What is a Parquet File?
>
> A Parquet file is a columnar storage file format that is optimized for reading and writing large datasets. It is designed to be highly efficient for analytical workloads, and it is widely used in the big data ecosystem.  They are binary files and so opening the `data.parquet` file in the `data` folder here will not display anything.

We can use ***Pandas*** `read_parquet()` function to read in a Parquet file into a `DataFrame`.

In [82]:
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-18.1.0-cp311-cp311-macosx_12_0_arm64.whl (29.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 29.6/29.6 MB 15.2 MB/s eta 0:00:0000:0100:01
Installing collected packages: pyarrow
Successfully installed pyarrow-18.1.0

[notice] A new release of pip is available: 23.1.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [83]:
df12 = pd.read_parquet('data/data.parquet')

df12

      Name  Age   Department       Location  Salary
0    Alice   30           HR       New York   60000
1      Bob   25  Engineering  San Francisco   75000
2  Charlie   28    Marketing        Chicago   55000
3    Diana   32      Finance         Boston   70000
4      Eve   29           IT        Seattle   72000

---

## Reading Data in Other Formats

Pandas have an extensive list of functions to read data from other formats.  You can find the full list of functions in the [Pandas documentation](https://pandas.pydata.org/docs/reference/io.html).

The most notable not demonstrated are:

- `read_table()` - Read general delimited file into DataFrame
- `read_feather()` - Load a feather-format object from the file path - feather is a fast, lightweight, and easy-to-use binary file format for storing data frames
- `read_gbq()` - Load data from Google BigQuery
- `read_pickle()` - Load pickled pandas object (or any object) from file - a pickled pandas object is a serialized version of a pandas object that can be saved to disk and loaded back into memory

---

## What about Streamed Data?

Data from streaming sources, such as Kafka, take a little more work to read into a `DataFrame`.  You would need to use a library such as `confluent_kafka` to read the data from the stream and then convert it into a `DataFrame`.  This will be covered in another session!